@model IEnumerable<AspNetIdentity.Models.HvActitudesModel>

<table class="table" width="80%">
    <tr>
        <th width="80%">
            NOMBRE
        </th>
        <th width="10%"></th>
    </tr>

    @foreach (var item2 in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item2.NOMBRE_CT_ACTITUDES)
            </td>
            <td>
                <a href="#" onclick="EjecutarModalSlim ('@item2.ID_ACTITUDES','HvActitudes','Edit','ACTITUDES'); return false;" title="Modificar" style="color: #013ADF;"><i class="fa fa-refresh" aria-hidden="true"></i></a> |
                <a href="#" onclick="EjecutarModalSlim ('@item2.ID_ACTITUDES','HvActitudes','Detail','ACTITUDES'); return false;" title="Detalle" style="color: #013ADF;"><i class="fa fa-search" aria-hidden="true"></i> </a> |
                <a href="#" onclick="EjecutarModalSlim ('@item2.ID_ACTITUDES','HvActitudes','Delete','ACTITUDES'); return false;" title="Borrar" style="color: #013ADF;"><i class="fa fa-trash" aria-hidden="true"></i></a> |


            </td>
        </tr>
    }

</table>
